USERNAME=babelfish_user
PASSWORD=change-me
DATABASE=babelfish_db
MIGRATION_MODE=multi-db
TSQL_DATABASE=scoringdb
BABELFISH_DATA_PATH=./data

OLD_Scoring_API_MSSQL_USERNAME=old_api_readonly_user
OLD_Scoring_API_MSSQL_PASSWORD=change-me
OLD_FINHUB_ETL_MSSQL_USERNAME=old_etl_user
OLD_FINHUB_ETL_MSSQL_PASSWORD=change-me
